
<ion-view title="{{title}}">
	<ion-nav-buttons class="button-clear" side="right">
				<!-- Toggle right side menu -->
				<button menu-toggle="right" class="button button icon ion-gear-a"></button>
			</ion-nav-buttons>
	<ion-content>
		<ion-refresher pulling-text="Pull To Refresh" on-refresh="doRefresh()"
            refreshing-text="Fetching ..." refreshing-icon="ion-loading-b"
          ></ion-refresher>

	  	<!-- <div class="row" >
	  		<a href="#/app/mainPage" ng-class="{
	      			'button-dark':model.title == 'Main',
	    			'button-light':model.title == 'Map'
	    		}" class="col button button-small icon-right ion-navicon-round " ng-model="title">LIST</a>
	      		<a href="#/app/mapPage" ng-class="{
	      			'button-dark':model.title == 'Map',
	    			'button-light':model.title == 'Main'
	    		}" class="col button button-small icon-right ion-navicon-round " ng-model="title">MAP</a>
	  		<button ng-click="sort()" class="col col-offset-10 button button-small button-assertive icon-right ion-funnel">SORT</button>
		</div> -->
		<div class="list" >
						 	
		
				<div class="item item-thumbnail-left" ng-repeat="role in roles">
					<img  ng-src="http://graph.facebook.com/{{role.id}}/picture?type=square">
					<h2>{{role.name}}</h2>
					<label class="checkbox">
						<input type="checkbox" data-checklist-model="user.roles" data-checklist-value="role" ng-click="checkInfo()">
					</label>
				</div>
	
		</div>
		<button class="button button-block button-positive icon ion-plus-circled" ng-click="getFriends()">
  						Add Facebook Friends
						</button>
				

		<!-- <ion-list>
		
			<ion-item >
				<div class="row">
					<div class="col">

						<div class="list" ng-repeat="friends in friendsList">

    						<a class="item item-avatar" href="#">
      						<img ng-src="http://graph.facebook.com/{{friends.id}}/picture?type=square">
     						<h2>{{friends.name}}</h2>
      						<p>Back off, man. I'm a scientist.</p>
      						</a>
						</div>
						<button class="button button-block button-positive icon ion-plus-circled" ng-click="getFriends()">
  						Add Facebook Friends
						</button>

						
					</div>
					
				</div>
			</ion-item>
		</ion-list> -->
	</ion-content>
	<ion-footer>
		<div class="tabs tabs-dark tabs-icon-only">
			  <a class="tab-item" href="#/app/friendsList">
			    <i class="icon ion-person-stalker"></i>
			  </a>
			  <a class="tab-item" href="#/app/newPostPage">
			    <i class="icon ion-compose"></i>
			  </a>
			  <a class="tab-item" href="#/app/chatList">
			    <i class="icon ion-chatboxes"></i>
			  </a>
			</div>
	</ion-footer>
</ion-view>
