
<ion-view title="{{title}}">
	<ion-nav-buttons class="button-clear" side="right">
				<!-- Toggle right side menu -->
				<button menu-toggle="right" class="button button icon ion-gear-a"></button>
			</ion-nav-buttons>
	<ion-content>


	  	<div class="row" >
	  		<a href="#/app/mainPage" ng-class="{
	      			'button-dark':model.title == 'Main',
	    			'button-light':model.title == 'Map'
	    		}" class="col button button-small icon-right ion-navicon-round " ng-model="title">LIST</a>
	      		<a href="#/app/mapPage" ng-class="{
	      			'button-dark':model.title == 'Map',
	    			'button-light':model.title == 'Main'
	    		}" class="col button button-small icon-right ion-navicon-round " ng-model="title">MAP</a>
	  		<button ng-click="sort()" class="col col-offset-10 button button-small button-assertive icon-right ion-funnel">SORT</button>
		</div>
		<ion-list>
			<ion-item ng-repeat="profiles in post">
				<div class="row">
					<div class="col">


						<img ng-src="{{post.postMessage[0].profileImageURL}}" alt="">

						<h3>{{ post.postMessage[0].displayName}}</h3>
						<p>posted 13 minutes ago</p>
					</div>
					<div class="col">
						<div class="row">
							<i class="ion-location col col-10"></i>
							<h4 class="col">{{ post.postMessage[1].postLocation}}</h3>
						</div>
						
						<p>{{post.postMessage[1].eventDesc}}</p>
						<div class="row row-bottom">
							<a href="#/pages/mapPage.html" class="col button button-small button-positive icon-right ion-navicon-round">{{profiles.location.distanceTo}}</a>
							<a href="#/pages/chat.html" class="col button button-small button-assertive icon-right ion-navicon-round">{{profiles.numberOfComments}}</a>
						</div>
					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
	<ion-footer>
		<div class="tabs tabs-dark tabs-icon-only">
			  <a class="tab-item">
			    <i class="icon ion-person-stalker"></i>
			  </a>
			  <a class="tab-item" href="#/app/newPostPage">
			    <i class="icon ion-compose"></i>
			  </a>
			  <a class="tab-item" href="#/app/chatPage">
			    <i class="icon ion-chatboxes"></i>
			  </a>
			</div>
	</ion-footer>
</ion-view>
