
<ion-view title="{{title}}"> 		
		<ion-content scroll="false">
		<ion-nav-buttons class="button-clear" side="right">
				<!-- Toggle right side menu -->
				<button menu-toggle="right" class="button button icon ion-gear-a"></button>
			</ion-nav-buttons>
		<div class="row" >
      		<a href="#/app/mainPage" ng-class="{
      			'button-dark':model.title == 'Main',
    			'button-light':model.title == 'Map'
    		}" class="col button button-small icon-right ion-navicon-round " ng-model="title">LIST</a>
      		<a href="#/app/mapPage" ng-class="{
      			'button-dark':model.title == 'Map',
    			'button-light':model.title == 'Main'
    		}" class="col button button-small icon-right ion-navicon-round " ng-model="title">MAP</a>
      		<button ng-click="sort()" class="col col-offset-10 button button-small button-assertive icon-right ion-funnel">SORT</button>
		</div>
		<div class="middle">
			<ui-gmap-google-map control="map.control"center="map.center" zoom="map.zoom" options="options">
				<ui-gmap-marker
			        idKey='123'
			        coords='latLng'
			        >
			</ui-gmap-marker>
			</ui-gmap-google-map>
		</div>
			
		</ion-content>

		<!-- <ion-footer-bar class="bar-stable">
			<a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
		</ion-footer-bar> -->
		<ion-footer>
		<div class="tabs tabs-dark tabs-icon-only">
			  <a class="tab-item" href="#/app/friendsList">
			    <i class="icon ion-person-stalker"></i>
			  </a>
			  <a class="tab-item" href="#/app/newPostPage">
			    <i class="icon ion-compose"></i>
			  </a>
			  <a class="tab-item" href="#/app/chatList">
			    <i class="icon ion-chatboxes"></i>
			  </a>
			</div>
	</ion-footer>

</ion-view>
